<div class="info_block">
  <div class="info_block__title"><a class="post__github_url" href="https://github.com">GitHub</a></div>

  <div class="info_block__summery">
    <div class="row">
      <div class="col-xs-4">
        <i class="fa fa-eye" aria-hidden="true"></i><span class="info_block__summery_value post__github_watchers">-</span>
      </div>
      <div class="col-xs-4">
        <i class="fa fa-star" aria-hidden="true"></i><span class="info_block__summery_value post__github_stars">-</span>
      </div>
      <div class="col-xs-4">
        <i class="fa fa-code-fork" aria-hidden="true"></i><span class="info_block__summery_value post__github_forks">-</span>
      </div>
    </div>
  </div>

  <dl class="dl-horizontal marks_block">
    <dt class="marks_block__item_title">Owner</dt>
    <dd class="marks_block__item_value">-</dd>
    <dt class="marks_block__item_title">Issues</dt>
    <dd class="marks_block__item_value post__github_issues">-</dd>
    <dt class="marks_block__item_title">Commits</dt>
    <dd class="marks_block__item_value post__github_commits">-</dd>
    <dt class="marks_block__item_title">Last commit</dt>
    <dd class="marks_block__item_value post__github_lastCommitDate">-</dd>
    <dt class="marks_block__item_title">Contributors</dt>
    <dd class="marks_block__item_value post__github_contributors">-</dd>
  </dl>

</div>
