<header class="site__header">
  <nav class="navbar navbar-inverse">
    <div class="container relative">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="logo_img" src="/images/logo.png" />
          <div class="logo_text">Spreex</div>
        </a>
        <!-- <div class="slogan">Catalogue of Spree Commerce extensions</div> -->
      </div>

      <div class="main_menu">
        <a href="javascript: void(0)"
           class="main_menu__item"
           id="main_menu__signin_item"
           data-toggle="modal"
           data-target=".signin_modal">Sign in</a>
        <a href="javascript: void(0)"
           class="main_menu__item hidden"
           id="main_menu__signout_item">Sign out</a>
      </div>
    </div>
  </nav>
</header>
