<div class="summery_block clearfix">
  <div class="summery_block__item">
    <i class="fa fa-comments" aria-hidden="true"></i><span class="summery_block__item_value">1</span>
  </div>
  <div class="summery_block__item">
    <i class="fa fa-heart" aria-hidden="true"></i><span class="summery_block__item_value">32</span>
  </div>
  {% if include.include_github %}
  <div class="summery_block__item">
    <i class="fa fa-code-fork" aria-hidden="true"></i><span class="summery_block__item_value">20</span>
  </div>
  <div class="summery_block__item">
    <i class="fa fa-star" aria-hidden="true"></i><span class="summery_block__item_value">2</span>
  </div>
  <div class="summery_block__item">
    <i class="fa fa-eye" aria-hidden="true"></i><span class="summery_block__item_value">32</span>
  </div>
  {% endif %}
</div>
