.site_header {

}

.site_content {

}

.site_footer {

}

.main_menu {
  position: absolute;
  top: 0;
  right: 3px;
}

.main_menu__item {
  padding: 12px;
  color: white;
  display: block;
  &:hover, &:active, &:focus {
    color: white;
  }
}

.navbar-brand {
  .logo_text {
    transform: rotate(0);
    transition: transform 0.2s;
  }
  &:hover .logo_text {
    transform: rotate(-7deg);
    transition: transform 0.2s;
  }
}

.slogan {
  position: absolute;
  left: 90px;
  top: 55px;
  font-size: 14px;
  font-weight: bold;
}

.logo_text {
  float: left;
}

.logo_img {
  float: left;
  display: inline !important;
  margin-top: -3px;
  width: 65px;
  margin-right: 7px;
}

.post_list__loading {
  text-align: center;
  margin-top: 50px;
}

.post_list__not_found {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
