$navbar-inverse-bg: black;
$navbar-inverse-border: black;
$navbar-inverse-brand-color: white;
$navbar-inverse-brand-hover-color: white;
$navbar-inverse-brand-hover-bg: black;
$navbar-inverse-color: white;
$navbar-inverse-link-color: white;
$navbar-inverse-link-hover-color: white;
$navbar-inverse-link-hover-bg: black;
$navbar-inverse-link-active-color: white;
$navbar-inverse-link-active-bg: black;
$navbar-inverse-link-disabled-color: gray;
$navbar-inverse-link-disabled-bg: black;
$navbar-inverse-toggle-border-color: black;
$navbar-inverse-toggle-hover-bg: black;
$navbar-inverse-toggle-icon-bar-bg: black;
$navbar-border-radius: 0;
$font-family-base: "Ubuntu Condensed";
$navbar-height: 52px;
$font-size-base: 20px;
$font-size-small: 18px;
$font-size-large: 22px;
$body-bg:              white;
$text-color:            black;
$link-color:            black;
$link-hover-color:      black;
$link-hover-decoration: none;
$navbar-margin-bottom: 0;


$border-color: black;
$border-thickness: 2px;
$border-radius: 10px;
$gradient: linear-gradient(450deg, #f7d45e 0%, rgb(255, 255, 255) 100%) rgba(246, 255, 0, 0.25);
$gradient-hover: linear-gradient(450deg, gray 0%, rgb(255, 255, 255) 100%) rgba(246, 255, 0, 0.25);
