<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="block block--top">
    <div class="container">
      <div class="post__header">
        <h1 class="post__title post__title--header">{{ page.title }}</h1>
        <div class="post__summery">{% include summery_block.html %}</div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="post__description post__github_description">{{ page.description }}</div>

        {% include links_block.html %}

        <div id="post__content" class="post__content">
          <div id="post__content_346238_4_6283">{{ include.content }}</div><!-- post__content_346238_4_6283 -->
          <div class="post__content_footer" onclick="document.getElementById('post__content').classList.add('post__content--extended')">
            <i class="fa fa-chevron-down fa-5x" aria-hidden="true"></i>
          </div>
        </div>

        <h2>Comments</h2>
        <div class="post__comments">
          <div class="well">No comments here</div>
        </div>

      </div>
      <div class="col-md-3">
        {% include github_block.html %}
        {% include rubygems_block.html %}
      </div>
    </div>
  </div>
</article>
