<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="block block--top">
    <div class="container">
      <div class="post__header">
        <h1 class="post__title post__title--header">{{ page.title }}</h1>
        <div class="post__summery">{% include summery_block.html %}</div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="post__description post__github_description">{{ page.description }}</div>

        {% include links_block.html %}

        <div id="post__content" class="post__content">
          <div id="post__content_346238_4_6283">{{ include.content }}</div><!-- post__content_346238_4_6283 -->
          <div class="post__content_footer" onclick="document.getElementById('post__content').classList.add('post__content--extended')">
            <i class="fa fa-chevron-down fa-5x" aria-hidden="true"></i>
          </div>
        </div>

        <h2>Comments (<span class="post__n_comments">0</span>)</h2>

        <div id="post__new_comment" class="new_comment">
          <form>
            <div class="form-group new_comment__textarea_wrap">
              <textarea class="form-control new_comment__textarea"
                        placeholder="Write a comment..."></textarea>
            </div>
            <div class="form-group text-right">
              <button type="button" class="btn btn-success new_comment__button">Post comment</button>
            </div>
          </form>
          <script type="text/javascript">
            $('#post__new_comment .new_comment__textarea').on('focus', function() {
              $(this).parent().parent().find('.new_comment__button').show();
              $(this).addClass('new_comment__textarea--extended');
            });
            $('#post__new_comment .new_comment__textarea').on('keydown', function() {
              var self = this;
              setTimeout(function(){
                self.style.cssText = 'height: auto; padding: 0';
                self.style.cssText = 'height: ' + self.scrollHeight + 'px';
              }, 0);
            });
            $('#post__new_comment .new_comment__button').on('click', function() {
              if (Mydataspace.isLoggedIn()) {
                controller.postComment(
                  $('#post__new_comment .new_comment__textarea'));
              } else {
                $('.signin_modal').modal('show');
              }
            });
          </script>
        </div>

        <div id="post__loading_comments" class="post__loading_comments">
          <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>

        <div id="post__comments">
        </div>

      </div>

      <div class="col-md-3">
        {% include github_block.html %}
      </div>
    </div>
  </div>
</article>
