<div class="post_search block block--top">
  <div class="container">
    <input id="post_search__input"
           type="text"
           placeholder="Search extension..."
           class="form-control post_search__input" />
  </div>
  <script type="text/javascript">
    document.getElementById('post_search__input').value =
      common.getURLParamByName('search', window.location.href);
    document.getElementById('post_search__input').addEventListener('change', function() {
      var search = encodeURIComponent(document.getElementById('post_search__input').value);
      var url = UIHelper.addOrReplaceURLParam(controller.getCurrentURL(), 'search', search);
      controller.load(url, 'replaceState', {
        search: search,
        notFillSearchInput: true
      });
    });
    document.getElementById('post_search__input').addEventListener('keyup', function() {
      var search = encodeURIComponent(document.getElementById('post_search__input').value);
      var url = UIHelper.addOrReplaceURLParam(controller.getCurrentURL(), 'search', search);
      controller.load(url, 'replaceState', {
        search: search,
        notFillSearchInput: true
      });
    });
  </script>
</div>
<div class="container">
  <div id="post_list" class="post_list">
    <div class="post_list__loading">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>
