.info_block {
  @extend .block;
  @extend .block--side;

}

.info_block__title {
  margin-bottom: $block-vpadding;
  font-size: $font-size-large;
}

.info_block__summery {
  margin-top: $block-vpadding;
  margin-bottom: $block-vpadding;
}

.info_block__summery_value {
  font-weight: bold !important;
  margin-left: $block-hpadding;
}
