.info_block {
  @extend .block;
  @extend .block--side;
  a:hover {
    text-decoration: underline;
  }
}

.info_block__title {
  margin-bottom: $block-vpadding;
  font-size: $font-size-large;
}

.info_block__summery {
  margin-top: $block-vpadding;
  margin-bottom: $block-vpadding;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

.info_block__summery_value {
  font-weight: bold !important;
  margin-left: 5px;
}

.post__github_ownerIMG, .post__github_lastCommitAuthorIMG {
  width: 30px;
}

.post__github_lastCommitDate {
  white-space: nowrap;
  display: block;
}
