.marks_block {
  font-size: $font-size-small;
  margin-bottom: -$block-vpadding / 2 !important;
}

.marks_block__item_title {
  text-align: left !important;
  font-weight: normal !important;
  width: 100px !important;
  text-transform: lowercase;
  padding-bottom: $block-vpadding / 2;
}

.marks_block__item_value {
  font-weight: bold !important;
  margin-left: 100px !important;
  padding-bottom: $block-vpadding / 2;
}
