$post-search-input-height: 50px;

.post_search {
}

.post_search__input {
  height: $post-search-input-height;
  margin-top: ($top-block-height - $post-search-input-height) / 2;
  border-radius: $border-radius;
  border: 0;
  border-bottom: $border-thickness solid $border-color;
  // text-transform: lowercase;
}
