.post__github_short_info {
  position: absolute;
  top: 15px;
  right: 20px;
}

.post__description {
  margin-top: $block-vpadding * 2;
  font-size: $font-size-large * 1.3;
}

.post--row {
  & > a {
    display: block;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    background: $gradient;
    &:hover {
      background: $gradient-hover;
    }
  }
}

.post__header {
  height: $top-block-height;
  position: relative;
}

.post__summery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.post__title {
  text-transform: lowercase;
}

.post__title--header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -5px !important;
  font-weight: bold;
  left: 0;
  right: 100px;
  overflow: hidden;
}

.post__title--row {
  font-size: $font-size-large;
}

.post__description--row {
  font-size: $font-size-small;
  margin: 0;
}

.links_block {
  margin: $block-vpadding * 4 0;
}

.post__content {
  overflow: hidden;
  height: 350px;
  position: relative;
  opacity: 0.5;
  h1:first-child {
    display: none;
  }
  h1:first-child, h2:first-child, h3:first-child {
    margin-top: 0;
  }
}

.post__content_footer {
  text-align: center;
  cursor: pointer;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.post__content--extended {
  opacity: 1;
  overflow:inherit;
  height: auto;
  transition: opacity 0.5s;
  .post__content_footer {
    display: none;
  }
}
