.post_list {

}

.post_row {
  display: block;
  margin-top: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border-bottom: 2px solid black;
  background: $gradient;
  &:hover {
    background: $gradient-hover;
  }
}

.post_row__title {

}

.post_row__description {
  font-size: $font-size-small;
}
