.post__description {
  padding: $block-vpadding * 2 0 $block-vpadding * 2 0;
  font-size: $font-size-large;
}

.post--row {
  & > a {
    display: block;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    background: $gradient;
    &:hover {
      background: $gradient-hover;
    }
  }
}

.post__header {
  height: $top-block-height;
  position: relative;
}


.post__summery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.post__title {
  text-transform: lowercase;
}

.post__title--header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -5px !important;
}

.post__title--row {
  font-size: $font-size-large;
}

.post__description--row {
  font-size: $font-size-small;
  padding: 0;
}
