.summery_block {
}

.summery_block__item {
  float: right;
  margin-left: $block-hpadding;
}

.summery_block__item_value {
  margin-left: $block-hpadding / 3;
}

.post__n_likes_wrap {
  cursor: pointer;
}

.post__n_likes_wrap--liked {
  color: red;
}

.post__n_likes_wrap {
  & > i {
    transform: scale(1);
    transition: 0.2s;
  }
  &:hover > i {
    transform: scale(1.2);
    transition: 0.2s;
  }
}
