.summery_block {
}

.summery_block__item {
  float: right;
  margin-left: $block-hpadding;
}

.summery_block__item_value {
  margin-left: $block-hpadding / 3;
}

.post__n_likes_wrap {
  cursor: pointer;
}

.post__n_likes_wrap--liked {
  color: red;
}
